{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		Book Store
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body class="container">


<ul class="nav nav-pills mb-3 mt-5" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="nav-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Add Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="nav-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"  onclick="showBooks()">Show Books</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="nav-home-tab">
  	
			<div class="col-lg-5 mx-auto border border-info rounded p-3 m-3" id="nav-home">
						<p class="alert alert-success">Add Books</p>

				<div class="form-group">
					<label >Book Name</label>
					<input type="text" name="name" class="form-control" id="bookName">
				</div>
				<div class="form-group">
					<label >Book Price</label>
					<input type="text" name="name" class="form-control" id="bookPrice">
				</div>
				<div class="form-group">
					<label >No Of Book Pages</label>
					<input type="number" name="name" class="form-control" id="bookPage">
				</div>
				<div>
					<button class="btn form-control btn-success" id="saveBook">Save Book</button>
				</div>

			</div>

	 </div>

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	
		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<h1 class="alert alert-success">Show Books</h1>
		</div> 
  </div>
</div>





 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/ownjs/index.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
