{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		Book Store
	</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body class="container">

	<div class="border border-success col-lg-4 mx-auto rounded p-4 m-4">
		<p>Sign-Up Form</p>
		<form class="p-4" id="signupform">
			<div class="form-group">
				<label>Name</label>
				<input type="text" name="name" class="form-control">
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="emial" name="email" class="form-control">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input type="password" name="password" class="form-control">
			</div>
			<div class="form-group"> 
				<input type="submit" value = "Sign up" class="form-control btn btn-success">
			</div>
		</form>
		
	</div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/ownjs/signup.js' %}"></script>
<script type="text/javascript">
	$(".alert").alert('close');
</script>
<!-- <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script> -->
</body>
</html>
