




<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="nav-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Add Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="nav-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"  onclick="showBooks()">Show Books</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="nav-home-tab">
  	
			<div class="col-lg-5 mx-auto border border-info rounded p-3 m-3" id="nav-home">
						<p class="alert alert-success">Add Books</p>

				<div class="form-group">
					<label >Book Name</label>
					<input type="text" name="name" class="form-control" id="bookName">
				</div>
				<div class="form-group">
					<label >Book Price</label>
					<input type="text" name="name" class="form-control" id="bookPrice">
				</div>
				<div class="form-group">
					<label >No Of Book Pages</label>
					<input type="number" name="name" class="form-control" id="bookPage">
				</div>
				<div>
					<button class="btn form-control btn-success" id="saveBook">Save Book</button>
				</div>

			</div>

	 </div>

  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  	
		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<h1 class="alert alert-success">Show Books</h1>
		</div> 
  </div>
</div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Add Books</a>

    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" onclick="showBooks()">Show Books</a>

  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  				<div class="col-lg-5 mx-auto border border-info rounded p-3 m-3" id="nav-home">
						<p class="alert alert-success">Add Books</p>

				<div class="form-group">
					<label >Book Name</label>
					<input type="text" name="name" class="form-control" id="bookName">
				</div>
				<div class="form-group">
					<label >Book Price</label>
					<input type="text" name="name" class="form-control" id="bookPrice">
				</div>
				<div class="form-group">
					<label >No Of Book Pages</label>
					<input type="number" name="name" class="form-control" id="bookPage">
				</div>
				<div>
					<button class="btn form-control btn-success" id="saveBook">Save Book</button>
				</div>

			</div>

  </div>


  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"></div>
